<!DOCTYPE html>
<html>
<meta charset="utf-8">

<style>
body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  stroke-width: 1px;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;

p {
  color: white;
  margin: 50px;
}

a {
  color: #4FDEF2;
}

/* Slider styling */
.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {
  stroke: white;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: white;
  text-align: center;
  font-size: 18px;
}

}
</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

<script>
var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 1400 - margin.left - margin.right,
    height = 800 - margin.top - margin.bottom;

// setup x 
var xValue = function(d) { return d.x;}, // data -> value
    xScale = d3.scale.linear().range([0, width]), // value -> display
    xMap = function(d) { return xScale(xValue(d));}, // data -> display
    xAxis = d3.svg.axis().scale(xScale).orient("bottom");

// setup y
var yValue = function(d) { return d.y;}, // data -> value
    yScale = d3.scale.linear().range([height, 0]), // value -> display
    yMap = function(d) { return yScale(yValue(d));}, // data -> display
    yAxis = d3.svg.axis().scale(yScale).orient("left");

// setup fill color
var cValue = function(d) { return d.Manufacturer;},
    color = d3.scale.category10();

// add the graph canvas to the body of the webpage
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// add the tooltip area to the webpage
var tooltip = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);


var data = {{ coords | safe}}

// don't want dots overlapping axis, so add in buffer to data domain
xScale.domain([d3.min(data, xValue)-1, d3.max(data, xValue)+1]);
yScale.domain([d3.min(data, yValue)-1, d3.max(data, yValue)+1]);

// x-axis
svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis)
  .append("text")
    .attr("class", "label")
    .attr("x", width)
    .attr("y", -6)
    .style("text-anchor", "end")
    .text("MDS Dimension 1");

// y-axis
svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
  .append("text")
    .attr("class", "label")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("MDS Dimension 2");

// draw dots
svg.selectAll(".dot")
    .data(data)
  .enter().append("circle")
    .attr("class", function(d){ return "dot " + d.uid})
    .attr("r", 2)
    .attr("cx", xMap)
    .attr("cy", yMap)
    .style("fill", function(d) { return d.colors;}) 
    .on("mouseover", function(d) {
        tooltip.transition()
             .duration(200)
             .style("opacity", .9);
        tooltip.html(d["uid"])
             .style("left", (d3.event.pageX + 5) + "px")
             .style("top", (d3.event.pageY - 28) + "px");
    })
    .on("mouseout", function(d) {
        tooltip.transition()
             .duration(500)
             .style("opacity", 0);
    });

// draw legend
var lookup = {{ lookup | safe }}
var legend = svg.selectAll(".legend")
    .data(lookup)
  .enter().append("g")
    .attr("class", "legend")
    .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

// draw legend colored rectangles
legend.append("rect")
    .attr("x", width - 18)
    .attr("width", 18)
    .attr("height", 18)
    .style("fill", function(d){ return d.color});

// draw legend text
legend.append("text")
    .attr("x", width - 24)
    .attr("y", 9)
    .attr("dy", ".35em")
    .style("text-anchor", "end")
    .text(function(d) { return d.id;})

// Select emotions and change style
$.each(lookup,function(i,e){
    d3.select("." + e.id)
       .style('r','10px')
});

// Date slider
formatDate = d3.time.format("%b %Y");

// scale function
var timeScale = d3.time.scale()
  .domain([new Date('{{ min_date }}'),new Date('{{ max_date }}')])
  .range([0, width])
  .clamp(true);

// initial value
var startValue = timeScale(new Date('2000-03-20'));
var endValue = timeScale(new Date('2012-03-20'));
var sliderHeight = 50;
startingValue = new Date('2012-03-20');

//////////

// defines brush
var brush = d3.svg.brush()
  .x(timeScale)
  .extent([startingValue, endValue])
  .on("brush", brushed);

var svgd = d3.select("body").append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", sliderHeight + 50 + margin.top + margin.bottom)
  .append("g")
  // classic transform to position g
  .attr("transform", "translate(" + margin.left + "," + sliderHeight + ")");

svgd.append("defs").append("clipPath")
    .attr("id", "clip")
  .append("rect")
    .attr("width", width)
    .attr("height", sliderHeight);

svgd.append("g")
    .attr("class", "x axis")
    // put in middle of screen
    .attr("transform", "translate(0," + sliderHeight + ")")

// inroduce axis
.call(d3.svg.axis()
    .scale(timeScale)
    .orient("bottom")
    .tickFormat(function(d) {
        return formatDate(d);
    })
    .tickSize(0)
    .tickPadding(12)
    .tickValues([timeScale.domain()[0], timeScale.domain()[1]]))
    .select(".domain")
    .select(function() {
       console.log(this);
       return this.parentNode.appendChild(this.cloneNode(true));
     })
    .attr("class", "halo");

var slider = svgd.append("g")
  .attr("class", "slider context")
  .call(brush)
 .selectAll("rect")
   .attr("y", -6)
   .attr("height", sliderHeight + 7);

slider.select(".background")
  .attr("height", sliderHeight);

var handle = slider.append("g")
  .attr("class", "handle")

handle.append("path")
  .attr("transform", "translate(0," + sliderHeight + ")")
  .attr("d", "M 0 -20 V 20")

handle.append('text')
  .text(startingValue)
  .attr("transform", "translate(" + (-18) + " ," + (sliderHeight - 25) + ")");

slider
  .call(brush.event)


function brushed() {
  var value = brush.extent()[0];
  if (d3.event.sourceEvent) { // not a programmatic event
    value = timeScale.invert(d3.mouse(this)[0]);
  }
  timeScale.domain(brush.empty() ? timeScale.domain() : brush.extent());
  handle.select('text').text(formatDate(value));
  handle.attr("transform", "translate(" + timeScale(value) + ",0)");
}

</script>
</body>
</html>
